name: report
on:
  schedule:
    - cron: '23 3,9,15,21 * * *'
  push:
    branches: [ master ]
    paths: [ '**.py' ]
  workflow_dispatch:
jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.x
      - name: Install dependencies
        run: |
          sudo apt-get install -y tesseract-ocr
          pip install -r requirements.txt
      - name: Report
        if: github.event_name == 'schedule'
        env:
          STUID: ${{ secrets.STUID }}
          PASSWORD: ${{ secrets.PASSWORD }}
          EMER_PERSON: ${{ secrets.EMER_PERSON }}
          EMER_RELA: ${{ secrets.EMER_RELA }}
          EMER_PHONE: ${{ secrets.EMER_PHONE }}
          DORM: ${{ secrets.DORM }}
          DORM_ROOM: ${{ secrets.DORM_ROOM }}
          BIGDATA_URL : ${{ secrets.BIGDATA_URL }}
        run: python report.py "$STUID" "$PASSWORD" data_atschool.json "$EMER_PERSON" "$EMER_RELA" "$EMER_PHONE" "$DORM" "$DORM_ROOM" "$BIGDATA_URL" no
      - name: Force report
        if: github.event_name != 'schedule'
        env:
          STUID: ${{ secrets.STUID }}
          PASSWORD: ${{ secrets.PASSWORD }}
          EMER_PERSON: ${{ secrets.EMER_PERSON }}
          EMER_RELA: ${{ secrets.EMER_RELA }}
          EMER_PHONE: ${{ secrets.EMER_PHONE }}
          DORM: ${{ secrets.DORM }}
          DORM_ROOM: ${{ secrets.DORM_ROOM }}
          BIGDATA_URL : ${{ secrets.BIGDATA_URL }}
        run: python report.py "$STUID" "$PASSWORD" data_atschool.json "$EMER_PERSON" "$EMER_RELA" "$EMER_PHONE" "$DORM" "$DORM_ROOM" "$BIGDATA_URL" force
